
body{
    background-image:url(image/background-image.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.login{
    padding-left: 15px;
    padding-bottom: 50px;
    margin-left: 40%;
    margin-right:40%;
    margin-top: 10%;
    border: 1px solid rgba(243, 243, 244, 0.814); 
    border-width: 3px;
    border-radius: 10%;
    backdrop-filter: blur(5px);   
    color: white;
}
h1{
    padding-left:30%;
    
}
label{
    padding-left: 10px;
    margin-bottom: 5%;
}
button{
    margin-left:60%;
    margin-top: 10%;
    background-color: aliceblue;
    width: 80px;
    height: 30px;
}
.label{
    margin-bottom: 20px;
}
img{
    width: 50%;
    margin-top: 10%;
    margin-left: 20%;
    border-radius:50%;
}
